@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Noto Serif JP', serif;
    color: #000000;
}

h1 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1rem;
}
.pre-h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 10rem;
  text-align: center;
}
  
.jumbotron-x { 
  background:url(img/top.jpeg) center no-repeat; 
  background-size: cover;
  position: relative;
  height: 80vh;
  min-height: 300px;
  margin-bottom: -2rem;

}
h3 {
  color: #443030;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}
.fa-thumbs-up {
  font-size: 13rem;
  color: rgb(175, 195, 38);
}

.padding {
  padding: 2rem;
}
.padding-c {
  padding: 1rem 0 ;
}
.padding-d {
  padding: 4rem;
}

.bg-change {
  width: cover;
  background-color: rgb(241, 241, 183);
}

ul, ol {
  color: #000000;/*文字色*/
  border: dashed 2px #badbb9;/*破線 太さ 色*/
  padding: 0.5em 0.5em 0.5em 2em;
}
.ul-concern {
  background: #eeeeee; /*背景色*/
}

ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

li {
  text-align: left;
}
p, li{
  font-size: 1.5rem;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}
.card-text {
  font-size: 1rem;
}
.quote-start, .quote-end {
  font-size: 3rem;
  color: rgb(175, 195, 38)
}
.quote-end {
  float: right;
}
.quote {
  background-color: rgb(241, 241, 183);
  margin-top: -1rem;
  margin-bottom: -1.5rem;
}
.margin-top {
  margin-top: 2rem;
}
.phone {
  font-size: 4rem;
  color: #333333;
  font-weight: bold;
}

.tab-titles {
  color: #333333;
  background-color: rgb(241, 241, 183);

}
.tab-titles:hover, .tab-titles.active:hover {
  background-color: rgb(175, 195, 38); 
  color: #ffffff;
}

.tab-self {
  font-size: 1.2rem;
}
.tabs-cus {
  border-color: transparent;
}

#map {
  background-color: grey;
}

footer {
  text-align: center;
}

.social {
  font-size: 3rem;
  margin: 2rem;
}
.fa-facebook-f, .fa-instagram, .fa-twitter {
  margin: 2rem;
  color:  rgb(175, 195, 38);
}
.fa-facebook-f :hover, .fa-instagram :hover, .fa-twitter :hover {
  color: #333333;
}
footer p{
  font-size: 100%;
  text-align: center;
}


/*---Media Queries --*/
@media (max-width: 1000px) {

  h3 {
    font-size: 1.5rem;
    text-align: left;
   }
   .fa-thumsup{
    font-size: .8rem;
   }

.tab-titles {
  font-size: 1.2rem;  
}
  }
@media (max-width: 768px) {
 h1 {
  font-size: 3rem;
 }
 .pre-h1 {
   font-size: 1.5rem;
 }
 h3 {
  font-size: 100%;
 }
 h5 {
   font-size: 120%;
 }
 p, li {
  font-size: 100%;
}

.fa-thumbs-up {
  font-size: 8rem;
}
.card-text {
  font-size: .5rem;
}
.person {
  display: none;
}

 .social {
   font-size: 1.8rem;
   margin: .2rem;
 }
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
   }
   h3 {
    font-size: 1rem;
   }
   .greenbar {
  font-size: 1.6rem;
  }
  h5 {
    font-size: 80%;
  }
 .card {
   margin-bottom: 10px;
 }

.tab-titles {
  font-size: .8rem;  
}
  
.fa-thumbs-up {
  font-size: 2rem;
}
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: .5rem;
}